.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 2px;
    margin: 20px auto;
}

.board-row {
    display: flex;
}

.player-board {
    border: 2px solid green;
    padding: 10px;
}

.opponent-board {
    border: 2px solid blue;
    padding: 10px;
}
