.footer {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: var(--spacing-md);
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer a {
    color: var(--text-light-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
}