# Development and testing dependencies

pytest==7.4.3
pytest-cov==4.1.0
black==24.1.0
flake8==7.0.0
pylint==3.0.3
isort==5.13.2
bandit==1.7.5
pbr==6.0.0
safety==3.0.1
mypy==1.7.1
pre-commit==3.5.0
ipython==8.17.2
